// prengineecurity.policy
// $Id: prenginesecurity.policy,v 1.2 2010-09-21 18:30:05 olsok Exp $

// additional permissions to be granted to PegaRULES engine

grant codeBase "<<ENGINE CLASSES>>" {

	// Permissions granted in appserver policy file for PegaRULES (e.g. tomcat.policy, was.policy, etc)
	// that are needed by the phase 1 bootstrap logic (or web-tier error jsp pages) are inherited by
	// the engine and need not be listed here.

	// Permissions hard-coded in PRMiniLoader for the phase 2 bootstrap logic are inherited by
	// the engine and need not be listed here. These include:
	// permission java.net.NetPermission "specifyStreamHandler";		// - to create URLs with pegajdbc: protocol and handler
	// permission java.util.PropertyPermission "*", "read";				// - see below for Elastic Search change
	// permission java.lang.RuntimePermission "accessClassInPackage.sun.util.logging.resources";
	// permission java.lang.RuntimePermission "defineClassInPackage.java.lang";
	// permission java.io.FilePermission "${java.home}", "read";
	// permission java.io.FilePermission "${java.home}${/}-", "read";
	// permission java.io.FilePermission "${user.home}${/}*", "read";	// - to probe for user-specific prconfig/prlogging files
	// permission java.io.FilePermission "${app-server-assigned-temp-directory}", "read,write";
	// permission java.io.FilePermission "${app-server-assigned-temp-directory}${/}-", "read,write,delete";

	// permissions needed by PRAppLoader during resource cleanup
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	permission java.lang.RuntimePermission "accessDeclaredMembers";

	// permissions needed to register the Bouncy Castle JCE provider
	permission java.security.SecurityPermission "putProviderProperty.BC";
	permission java.security.SecurityPermission "insertProvider.BC";
	permission java.security.SecurityPermission "removeProvider.BC";

	// permission needed during Crypto initialization when classes loaded from database
	permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.protocol.pegajdbc";
	// permissions needed to avoid error (messages) when normalizing file specifications during initialization
	permission java.io.FilePermission "${catalina.home}${/}temp", "read";	// - Tomcat's modified java.io.tmpdir, need read access

	// permissions needed for access to relocated temp and root directories
	permission java.io.FilePermission "${pega.tmpdir}", "read,write";
	permission java.io.FilePermission "${pega.tmpdir}${/}-", "read,write,delete";

	// permissions needed to get PegaRULES host ip address
	permission java.net.SocketPermission "localhost:1024-", "listen,resolve";
	permission java.net.SocketPermission "*", "connect,resolve";			// - connect needed for Integration Services, resolve needed to get hostname

	// permissions needed for JMX support
	permission com.ibm.websphere.security.WebSphereRuntimePermission "AdminPermission";
	permission javax.management.MBeanPermission "*#*[]", "getAttribute";
	permission javax.management.MBeanPermission "-#-[-]", "queryNames";
	permission javax.management.MBeanPermission "*#*[]", "queryNames";
	permission javax.management.MBeanPermission "com.pega.*#*[]", "addNotificationListener";
	permission javax.management.MBeanPermission "com.pega.*#*[]", "getMBeanInfo";
	permission javax.management.MBeanPermission "com.pega.*#*[]", "isInstanceOf";
	permission javax.management.MBeanPermission "com.pega.*#*[]", "registerMBean";
	permission javax.management.MBeanPermission "com.pega.*#*[]", "unregisterMBean";
	permission javax.management.MBeanServerPermission "findMBeanServer";
	permission javax.management.MBeanTrustPermission "register";
	permission mx4j.server.MBeanPermission "-#-[-]", "queryNames";			// - for Tomcat with Java 1.4.2 using mx4j
	permission java.lang.management.ManagementPermission "control";			// - for JVMNotificationManagerBase - set threshholds

	// the following needed by Log4J asynch appenders and resource adapter timer thread
	permission java.lang.RuntimePermission "modifyThread";
	permission java.lang.RuntimePermission "modifyThreadGroup";				// - for Thread Management

	// permissions needed by various 3rd party libraries such as Axis
	permission java.lang.RuntimePermission "accessDeclaredMembers";

	// permissions needed for embedded JSP compilation
	permission java.lang.RuntimePermission "setContextClassLoader";
	permission java.lang.RuntimePermission "setIO";

	// permission needed by Log4J with WebSphere 7.0 and IBM Java 6
	permission java.lang.RuntimePermission "accessClassInPackage.sun.beans.infos";

	// permissions needed for performance timings using JVM facilities rather than the Pega shared libraries
	permission java.lang.RuntimePermission "accessClassInPackage.sun.management";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
	permission java.lang.RuntimePermission "sun.misc.Perf.getPerf";

	// permissions needed for thread dumps
	permission java.lang.RuntimePermission "getStackTrace";

	// permission needed when using container managed security
	permission javax.security.auth.AuthPermission "getSubject";

	// permission needed for WebSphere work manager asynch bean creation
	permission java.lang.RuntimePermission "enableContextClassLoaderOverride";

	// the following needed for server identification display
	permission com.ibm.websphere.security.WebSphereRuntimePermission "accessRuntimeClasses";

	// Oracle AS required permissions
	permission oracle.oc4j.security.OC4JRuntimePermission "oracle.oc4j.OC4JOnly";
	permission oracle.security.jazn.JAZNPermission "getPolicy";
	permission oracle.security.jazn.JAZNPermission "getRealmManager";
	permission oracle.security.jazn.policy.AdminPermission "";

	// Supply permissions for Lucene index directories
	// permission java.io.FilePermission "CUSTOMIZE ME", "read, write";

	// permission needed by Axis2 initialization when it probes pegajdbc: URLs
	permission java.io.FilePermission "${/}", "read";

	// Eclipse 4.4.1 JSR-199 based compiler in ML8 should run single-threaded
	permission java.util.PropertyPermission "jdt.compiler.useSingleThread" "read,write";

	// Elastic Search
	permission java.lang.management.ManagementPermission "monitor";
	permission java.util.PropertyPermission "*", "read,write";		// - full text search initialization reads all properties
	permission java.net.NetPermission "getNetworkInformation";
	permission java.lang.RuntimePermission "getFileStoreAttributes";
	permission java.io.FilePermission "${/}dev${/}urandom", "read";
	//ElasticSearch/Search Guard
	permission org.elasticsearch.SpecialPermission;
	permission java.security.SecurityPermission "getProperty.ssl.KeyManagerFactory.algorithm";
	// Elastic Search / Guice
	permission java.lang.RuntimePermission "getFileSystemAttributes";
	permission java.lang.RuntimePermission "defineClassInPackage.java";

	// Hazelcast
	permission java.lang.RuntimePermission "shutdownHooks";

	// for pyInvokeRestConnector activity (PDN news feed)
	// - needs a doPrivileged block somewhere so that
	permission java.net.NetPermission "getProxySelector";

	//ADDED 6.3
	permission java.io.FilePermission "${catalina.home}${/}bin${/}-", "read,write";
	permission java.io.FilePermission "${catalina.home}${/}temp", "read,write";
	permission java.io.FilePermission "${catalina.home}${/}temp${/}-", "read,write,delete";

	// added for Apache WSS4j crypto provider/config
	permission java.security.SecurityPermission "org.apache.xml.security.register";

	//DSM
	permission java.lang.RuntimePermission "getenv.*";
	permission java.io.FilePermission "${pega.tmpdir}${/}cassandra${/}-", "execute";
	//dsm BUG-288678
	permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.cs";

	permission java.security.SecurityPermission "removeProvider.ApacheXMLDSig";
	permission java.security.SecurityPermission "putProviderProperty.ApacheXMLDSig";
	permission java.security.SecurityPermission "insertProvider.ApacheXMLDSig";
	permission java.security.SecurityPermission "removeProvider.STRTransform";
	permission java.security.SecurityPermission "putProviderProperty.STRTransform";
	permission java.security.SecurityPermission "removeProvider.AttachmentContentSignatureTransform";
	permission java.security.SecurityPermission "putProviderProperty.AttachmentContentSignatureTransform";
	permission java.security.SecurityPermission "removeProvider.AttachmentCompleteSignatureTransform";
	permission java.security.SecurityPermission "putProviderProperty.AttachmentCompleteSignatureTransform";
	permission javax.management.MBeanPermission "org.apache.logging.log4j.*#-*", "registerMBean";
	permission javax.management.MBeanPermission "org.apache.logging.log4j.*#-*", "unregisterMBean";
	permission java.lang.RuntimePermission "createSecurityManager";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
	permission com.ibm.oti.shared.SharedClassPermission "org.apache.uima.internal.util.UIMAClassLoader", "read,write";
	permission javax.management.MBeanPermission "org.apache.uima.*#-*", "registerMBean";
	permission javax.management.MBeanPermission "org.apache.uima.*#-*", "unregisterMBean";

	// WAS
    permission java.io.FilePermission "${was.install.root}${/}plugins", "read";
	permission java.io.FilePermission "${was.install.root}${/}plugins${/}-", "read";
	permission com.ibm.websphere.security.WebSphereRuntimePermission "getSSLConfig";
	permission javax.management.MBeanServerPermission "createMBeanServer";
	permission java.util.PropertyPermission "com.pega.apache.xml.security.ignoreLineBreaks", "read,write";
	permission java.util.PropertyPermission "org.owasp.esapi.SecurityConfiguration", "read,write";
	permission java.util.PropertyPermission "javax.xml.transform.TransformerFactory",  "write";
	permission javax.management.MBeanPermission "com.ibm.*", "*";
	permission java.lang.management.ManagementPermission "monitor";
	permission javax.management.MBeanServerPermission "createMBeanServer";
	permission java.net.NetPermission "getProxySelector";
	permission com.ibm.oti.shared.SharedClassPermission "java.net.URLClassLoader", "read,write";
	permission java.lang.RuntimePermission "reflectionFactoryAccess";

	// Apache Ignite
	permission java.io.FilePermission "${server.root}${/}work", "write";
	permission java.io.FilePermission "${server.root}${/}work${/}*", "write";
	permission java.io.FilePermission "${user.install.root}${/}work", "write";
	permission javax.management.MBeanPermission "org.apache.ignite.*#-*", "registerMBean";
	permission javax.management.MBeanPermission "org.apache.ignite.*#-*", "unregisterMBean";
	permission java.io.SerializablePermission "enableSubstitution";
};
